.Item {
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 2px 4px 10px 0 #d3d3d3;
  margin: 20px;
}

.Item a {
  text-decoration: none;
}

.col-xs-9 {
  justify-items: auto;
  width: 60%;
  padding: 0 5px;
  float: right;
  text-align: left;
}
.col-xs-3 {
  width: 10%;
  float: left;
  padding: 0 15px;
}

.col-xs-2 {
  width: 10%;
  float: left;
  padding: 0 15px;
}

.row {
  display: flex;
  overflow: hidden;
  border-bottom: 2px solid #d3d3d3;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.header {
  font-size: 20px !important;
  font-weight: 600;
  text-transform: capitalize;
}

.form {
  margin: 20px;
  align-items: center;
  border: 3px solid #00b4cc;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .col-xs-9 {
    width: 50%;
    margin-left: 20px;
  }
  .col-xs-2 {
    display: none;
  }
}
