.App {
  margin-top: 20px;
}

.light-theme {
  background-color: #fff;
  color: #444444;
}
.dark-theme {
  background-color: #363c48;
  color: #f8f8f8;
}

.dark-theme .Item a {
  color: beige;
}

.light-theme .Item a {
  color: #444444;
}
