.App {
  margin-top: 20px;
  width: 100%;
}

nav {
  display: flex;
  background-color: #503d81;
  width: 100%;
  padding: 20px;
  padding-left: 0px !important;
  color: #f8f8f8;
  padding-right: 0px !important;
}

.light-theme {
  background-color: #fff;
  color: #444444;
}
.dark-theme {
  background-color: #363c48;
  color: #f8f8f8;
}

.dark-theme .Item a {
  color: beige;
}

.light-theme .Item a {
  color: #444444;
}

.dark-theme nav {
  background-color: 5580a3;
}

.dark-theme .header {
  background-color: #363c48;
}

.dark-theme #issue_body {
  box-shadow: 2px 4px 10px 0 #d3d3d3;
}

.dark-theme #issue_title {
  border: 2px solid #d3d3d3;
}

.dark-theme .comment_one {
  border: 2px solid #d3d3d3;
}
